
.modal {
    background: #161619b8;

}



.item-img {
    cursor: pointer;
}

.modal-body-founder {
    overflow-x: scroll;
    overflow-x: hidden;
}

#div-commentary-founder-modal p {
    line-height: 1.3rem;
}

.modal-header, .modal-footer {
    background: rgba(59, 126, 252, 0.678);
}

.modal-founder {
    animation-name: modal;
    animation-duration: 2s;
}

@keyframes modal {
    from {
        top: -330px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@media (max-width: 319px) {
    #div-container-founders {
        width: 90%;
        flex-direction: column;
    }

    .div-item-img, .item-img {
        width: 60vw;
        height: 60vw;
    }

    .div-item-img {
        margin: 3%;
    }

    .modal-founder {
        width: 85vw;
    }

    .modal-body-founder {
        height: 230px;
    }

    .img-founder-modal {
        width: 38vw;
        height: 38vw;
    }

    .modal > div {
        font-size: 12px;
    }

    .font-size {
        font-size: 12px;
    }
}


@media (min-width: 320px) and (max-width: 479px) {
    #div-container-founders {
        width: 90%;
        flex-direction: column;
    }

    .div-item-img, .item-img {
        width: 55vw;
        height: 55vw;
    }

    .div-item-img {
        margin: 2%;
    }

    .modal-founder {
        width: 75vw;
    }

    .modal-body-founder {
        height: 270px;
    }

    .img-founder-modal {
        width: 30vw;
        height: 30vw;
    }

    .font-size {
        font-size: 13px;
    }
}


@media (min-width: 480px) and (max-width: 767px) {
    #div-container-founders {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div-item-img, .item-img {
        width: 40vw;
        height: 40vw;
    }

    .div-item-img {
        margin: 2vw;
    }

    .modal-founder {
        width: 60vw;
    }

    .modal-body-founder {
        height: 290px;
    }

    .img-founder-modal {
        width: 25vw;
        height: 25vw;
    }

    .font-size {
        font-size: 14px;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    #div-container-founders {
        width: 85vw;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div-item-img, .item-img {
        width: 30vw;
        height: 30vw;
    }

    .div-item-img {
        margin: 4%;
    }

    .modal-founder {
        width: 45vw;
    }

    .modal-body-founder {
        height: 300px;
    }

    .img-founder-modal {
        width: 16vw;
        height: 16vw;
    }

    .font-size {
        font-size: 14px;
    }
}


@media (min-width: 1024px) and (max-width: 1199px) { 
    #div-container-founders {
        width: 90vw;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div-item-img, .item-img {
        width: 25vw;
        height: 25vw;
    }

    .div-item-img {
        margin: 2%;
    }

    .modal-founder {
        width: 37vw;
    }

    .modal-body-founder {
        height: 320px;
    }

    .img-founder-modal {
        width: 12vw;
        height: 12vw;
    }

    .font-size {
        font-size: 14.5px;
    }
}


@media (min-width: 1200px) {
    #div-container-founders {
        width: 90vw;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div-item-img, .item-img {
        width: 18vw;
        height: 18vw;
    }

    .div-item-img {
        margin: 2%;
    }

    .modal-founder {
        width: 35vw;
    }

    .modal-body-founder {
        height: 350px;
    }

    .img-founder-modal {
        width: 11vw;
        height: 11vw;
    }

    .font-size {
        font-size: 15px;
    }
}