
.modal {
    background: #161619b8;
}

.item-img {
    cursor: pointer;
}


@media (max-width: 319px) {
    #div-container-founders {
        width: 90%;
        flex-direction: column;
    }

    .div-item-img, .item-img {
        width: 60vw;
        height: 60vw;
    }

    .div-item-img {
        margin: 3%;
    }
}


@media (min-width: 320px) and (max-width: 479px) {
    #div-container-founders {
        width: 90%;
        flex-direction: column;
    }

    .div-item-img, .item-img {
        width: 55vw;
        height: 55vw;
    }

    .div-item-img {
        margin: 2%;
    }
}


@media (min-width: 480px) and (max-width: 767px) {
    #div-container-founders {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div-item-img, .item-img {
        width: 40vw;
        height: 40vw;
    }

    .div-item-img {
        margin: 2vw;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    #div-container-founders {
        width: 85vw;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div-item-img, .item-img {
        width: 30vw;
        height: 30vw;
    }

    .div-item-img {
        margin: 4%;
    }
}


@media (min-width: 1024px) and (max-width: 1199px) { 
    #div-container-founders {
        width: 90vw;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div-item-img, .item-img {
        width: 25vw;
        height: 25vw;
    }

    .div-item-img {
        margin: 2%;
    }
}


@media (min-width: 1200px) {
    #div-container-founders {
        width: 90vw;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div-item-img, .item-img {
        width: 18vw;
        height: 18vw;
    }

    .div-item-img {
        margin: 2%;
    }
}