.logo {
  width: 150px;
}
.separador {
  height: 50px;
}

#ieee-branch-style {
  font-size: 22px;
  color: #002c5c;
}

#mv {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 900px;
}

.mv-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.mv-container {
  margin: 20px;
  width: 350px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 9px 9px 28px 0px rgba(26, 55, 87, 1);
  -moz-box-shadow: 9px 9px 28px 0px rgba(26, 55, 87, 1);
  box-shadow: 9px 9px 28px 0px rgba(26, 55, 87, 1);
}
